[submodule "git/WSL-passwordstore-menu"]
	path = git/WSL-passwordstore-menu
	url = git@github.com:Ricebal/WSL-passwordstore-menu.git
[submodule "git/cascade"]
	path = git/cascade
	url = git@github.com:Ricebal/cascade.git
